<div class="pblock-editor-table"
     hx-trigger="updateEditorBlockList from:body"
     hx-get="/story/{{ .StoryName }}/blockEditor/list"
     hx-swap="outerHTML"
     hx-on::after-settle="blockEditor.setupList(this)"
     data-story-name="{{ .StoryName }}">
	{{ $storyName := .StoryName }}
	{{ range .Items }}
		{{ $favoriteClass := "favorite-no" }}
		{{ if .Favorite }}
			{{ $favoriteClass = "favorite-yes" }}
		{{ end }}
		{{ $enabledClass := "enabled-no" }}
		{{ if .Enabled }}
			{{ $enabledClass = "enabled-yes" }}
		{{ end }}
		<div class="pblock-item"
		     data-block-name="{{ .Name }}"
		     draggable="true">
			<div class="{{ $enabledClass }} op-enabled icon"
			     hx-put="/story/{{ $storyName }}/blockEditor/enable/{{ .Name }}"
			     hx-swap="none">✓</div>
			<div class="{{ $favoriteClass }} op-favorite icon"
			     hx-put="/story/{{ $storyName }}/blockEditor/favorite/{{ .Name }}"
			     hx-swap="none">★</div>
			<div class="name">{{ .Name }}</div>
			<div class="op-delete icon"
			     hx-delete="/story/{{ $storyName }}/blockEditor/edit/{{ .Name }}"
			     hx-swap="none"
			     hx-trigger="confirmed"
			     onclick="blockEditor.confirmDelete(this, '{{ .Name }}')">⨯</div> 
			<div class="op-edit icon"
			     onclick="blockEditor.openEditor('{{ .Name }}')">✎</div>
		</div>
	{{ end }}
</div>

