<form class="v-flex pblock-editor"
      data-block-name="{{ .Name }}"
      hx-target="this"
      hx-swap="outerHTML">
	<div class="h-flex">
		<input type="text" name="name" placeholder="Name" value="{{ .Name }}">
		<div class="align-right">
			<select name="role">
				{{ range .RoleOptions }}
				<option value="{{ .Value }}"
					{{ if .Selected }} selected {{ end }}>
				{{ or .Name .Value }}
				</option>
				{{ end }}
			</select>
		</div>
	</div>
	<div class="v-flex info-block" data-tab="block">
		<div>
			<label>Compiled: </label>
			<input type="checkbox" name="compiled" {{ if .Compiled }}checked{{ end }}>
		</div>
		<textarea placeholder="Prompt..." name="text">{{ .Text }}</textarea>
	</div>

	<div class="info">{{ .Message }}</div>

	<div class="h-flex operations">
		<button type="button"
			class="save-bt" 
			disabled="true"
			hx-post="/story/{{ .StoryName }}/blockEditor/edit/{{ .Name }}">
			Save
		</button>
		<button type="button"
			class="discard-bt" 
			disabled="true"
			hx-get="/story/{{ .StoryName }}/blockEditor/edit/{{ .Name }}">
			Discard
		</button>
		<button type="button" 
			class="close-bt"
			hx-get="/story/{{ .StoryName }}/blockEditor/edit/">
			Close
		</button>
	</div>
</form>
