<div id="prompt-block-list"
     hx-trigger="updatePlaygroundBlockList from:body"
     hx-get="/story/{{ .StoryName }}/playground/list"
     hx-swap="outerHTML">
	<div id="block-list" class="block-list">
		{{ $storyName := .StoryName }}
		{{ range $item := .Items }}
			{{ $enabledClass := "enabled-no" }}
			{{ if .Enabled }}
				{{ $enabledClass = "enabled-yes" }}
			{{ end }}
			<div class="pblock-item"
			     data-block-name="{{ .Name }}"
			     draggable="true"
			     hx-on::after-settle="event.stopPropagation(); blockEditor.setupRow(this)">
				<div class="{{ $enabledClass }} op-enabled icon"
				     hx-put="/story/{{ $storyName }}/blockEditor/enable/{{ .Name }}"
				     hx-swap="none">✓</div>
				<div class="name">{{ .Name }}</div>
				<div class="op-edit icon"
				     onclick="playground.openBlock('{{ .Name }}')">✎</div>
			</div>
		{{ end }}
	</div>
</div>
