<div class="story-layout">
	<form id="editor1"
	      class="v-flex pblock-editor"
	      data-block-name=""></form>
	<form id="editor2"
	      class="v-flex pblock-editor"
	      data-block-name=""></form>
	<form id="editor3"
	      class="v-flex pblock-editor"
	      data-block-name=""></form>

	<div id="ai-response" class="v-flex">
		<textarea class="response"></textarea>
		<div class="controls">
			<button type="button"
				class="generate-bt">Generate</button>
			<button type="button"
				class="continue-bt">Continue</button>
			<button type="button"
				class="cancel-bt"
				disabled="true">Cancel</button>
		</div>
	</div>
</div>
