* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

textarea {
    resize: none;
}

.hidden {
    display: none !important;
}

.v-flex {
    display: flex;
    flex-direction: column;
}
.h-flex {
    display:flex;
    flex-direction: row;
}

.button-group {
    color: blue;
}
.button-group > p {
    cursor: pointer;
}

.tab-headers {
	display: flex;
	flex-direction: row;
	color: blue;
	column-gap: 2em;
}
.tab-headers > p {
	cursor: pointer;
	margin: 0;
}

.section {
    flex: 1;
}

.separator {
    height: 1px;
    background-color: black;
    margin: 10px 0;
}

#full-window-div {
    width: 100%;
    height: 100%;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: stretch;
}

#navigation {
    flex: 0;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    column-gap: 2em;
    color: blue;
}
#navigation p {
    margin: 0;
    cursor: pointer;
}
#navigation .icon {
	font-size: 20px;
}
#navigation .right {
	flex: 1;
	display: flex;
	justify-content: right;
	align-items: center;
}

#full-window-div > .tab {
    flex: 1;
    padding: 10px;
    column-gap: 10px;
    min-height: 0;
}

#tab-prompt {
    height: 100%;
    column-gap: 10px;
}

.popup {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.popup .background {
	position: absolute;
	background-color: black;
	opacity: 0.4;
	width: 100%;
	height: 100%;
}
.popup .content {
	z-index: 1;
	padding: 10px;
	background-color: lightgray;
}

.context-pane {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 10px;
    height: 30%;
}

.parameter-grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 5px;
}

.left-panel {
	width: 300px;
	overflow: auto;
	height: 100%;
}
.right-panel {
	flex: 1;
	overflow: auto;
	height: 100%;
}

.block-list {
    flex: 1;
    border: 1px solid black;
    height: 100%;
    overflow: auto;
}
.block-list p {
    margin: 0;
}
.block-list > div {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding: 5px 3px;
    border-bottom: 1px solid black;
}
.block-list .in-group {
    padding-left: 20px;
}
.block-list .button-group {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: end;
    column-gap: 10px;
}
.block-list .empty-group {
    opacity: 0.7;
    font-style: italic;
}

#prompt-block-list .operations {
    row-gap: 10px;
}


/* Block editor */

.prompt-block-editor p {
    margin: 0px;
}
.prompt-block-editor textarea {
    flex: 1;
}

.prompt-block-editor .info-block {
    justify-content: stretch;
    flex: 1;
}

.prompt-block-editor .align-right {
    flex: 1;
    text-align: right;
}


/* Story page */

.tab-story {
    height: 100%;
    justify-content: stretch;
    max-height: 100%;
    gap: 10px;
}

.story-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    height: 100%;
}
.story-layout > div {
    height: 100%;
    width: 100%;
}

#ai-response .button-group {
    column-gap: 2em;
}
#ai-response p {
    margin: 0;
}
#ai-response .tab {
    flex: 1;
}
#ai-response textarea {
    flex: 1;
}

#chat {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;

    row-gap: 10px;
}

#chat .messages {
    flex: 1;
    border: 1px solid black;
}
#chat .messages .message {
    padding: 10px;
}

#chat .messages .message-header {
    display: flex;
}
#chat .messages .message-header .message-role {
    opacity: 0.5;
}
#chat .messages .message-header .message-controls {
    flex: 1;
    display: flex;
    justify-content: end;
    column-gap: 10px;
}
#chat .messages .message-header .message-controls p {
    margin: 0;
}
#chat .messages .message-text {
    padding: 10px;
}

#chat .chat-input {
    display: flex;
    flex-direction: column;
    height: 200px;
}
#chat .chat-input textarea {
    flex: 1;
    width: 100%;
}
#chat .chat-input .input-header {
    text-align: right;
}

