@import url("/static/css/main.css");

.pblock-editor-table {
	border: 1px solid black;
	height: 100%;
	overflow: auto;
}
.pblock-editor-table > div {
	border-bottom: 1px solid black;
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 3px;
	padding: 3px 5px;
}
.pblock-editor-table .pblock-row > div {
	padding: 0 5px;	
}
.pblock-editor-table .name {
	flex: 1;
}
.pblock-editor-table .icon {
	font-size: 20px;
	cursor: pointer;
}
.pblock-editor-table .favorite-no, 
.pblock-editor-table .enabled-no {
	opacity: 0.5;
}
.pblock-editor-table .favorite-yes {
	color: orange;
}
.pblock-editor-table .enabled-yes {
	color: green;
}

#prompt-info > .content {
	width: 80%;
	max-width: 500px;
	height: 80%;
}
#prompt-info .tab,
#prompt-info textarea {
	flex: 1;
}
