<!DOCTYPE html>
<html>
    <head>
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <link rel="stylesheet" href="/static/css/story-page.css">
        <script type="module" src="/static/js/ui.js"></script>
    </head>
    <body data-story-name="{{ .StoryName }}">
        <div id="full-window-div">
            <div id="navigation">
                <p data-tab-name="story">Story</p>
		<p data-tab-name="prompt">Prompt</p>
                <p data-tab-name="settings">Settings</p>
		<div class="right">
			<p class="icon" 
			   id="open-prompt-info"
			   hx-get="/story/{{ .StoryName }}/promptInfo"
			   hx-target="#prompt-info .content"
			   hx-swap="outerHTML">👁</p>
		</div>
            </div>
            <div class="tab tab-story h-flex" data-tab-name="story">
                {{ template "tab_story.html" . }}
            </div>
            <div class="tab tab-prompt h-flex" data-tab-name="prompt">
                {{ template "tab_prompt.html" . }}
            </div>
            <div class="tab" data-tab-name="settings">
                {{ template "components/settings.html" .Settings }}
            </div>
        </div>
	<div class="popup" 
	     id="prompt-info"
	     style="display: none">
		<div class="background"
		     onclick="document.getElementById('prompt-info').style.display = 'none'"></div>
		<div class="content v-flex"></div>
	</div>
    </body>
</html>
